/* Global reset: http://meyerweb.com/eric/tools/css/reset/  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ********************* */
/* Site Styles */

body {
	background-color: #fff;
	overflow-x: hidden;
	line-height: 1.5;
	color: #eee;
	font-size: 20px;
	font-family: Open Sans, Helvetica, Arial,sans-serif;
}

a, a:link,
a:active,
a:visited {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	color:#82B600;
	outline: none;
	text-decoration:none;
}
a:hover { 
	color: white;
}

p {
	margin: 1em 0;
}

#wrapper {
	position: relative;
}

#branding {
	position: fixed;
	z-index: 4;
	width: 100%;
	background: #282828;
}
	#branding .title {
		width: 940px;
		padding: 10px 10px;
		margin: 0 auto;
		text-transform: uppercase;
		font-family: Courier;
		font-size: 40px;
		font-weight: 500;
		color: #82B600;
	}
	#branding .cursor {
		margin-bottom: 2px;
		display: inline;
		font-size: 40px;
	}

.content {
	z-index: 3;
	position: relative;
	max-width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	line-height: 1.7;
}

#top {
	background-color: #0F4D92;
	height: 800px;
	}
#about-us {
	position: absolute;
	text-align: center;
	padding-top: 140px;
	width: 100%;
}
	#about-us h1 {
		font-size: 50px;
		color: #eee;
		font-weight: 800;
		line-height: 65px;
	}
	#buttons {
		margin-top: 20px;
	}
	#about-us #buttons a {
		display: block;
		margin: 0 auto 10px auto;
		width: 150px;
		text-align: center;
		color: #eee;
		background-color: #469500;
		padding: 15px;
		border-radius: 4px;
    	-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;
    	border-bottom: rgba(0,0,0,0.1) 3px solid;
	}
	#about-us #buttons a#signup {
		background-color: #950046
	}
	#about-us #buttons a:hover {
		background-color: #52af00;
	}
	#about-us #buttons a#signup:hover {
		background-color: #c8005e;
	}

#logo {
	display: none;
	z-index: 6;
	position: relative;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 940px;
	margin-left: -470px; /* move left by half element's width */
}
	#big-y {
		display: none;
		width: 300px;
		height: 420px;
		position: absolute;
		top: -500px;
		left: 600px;
	}

.banner {
	display: none;
}

.sponsors {
	background-color: #fff;
	padding: 80px 0;
	position: relative;
	width: 100%;
	font-size: 80px;
	text-align: center;
}
	.sponsors img {
		display: inline-block;
		height: auto;
		max-width: 450px;
	}

#bottom {
	background: url("/img/Yalebg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 400px;
	height: 400px;
	text-align: center;
}
	#actions {
		padding-top: 100px;
	}
	#bottom h1 {
		font-size: 50px;
		margin-bottom: 20px;
	}
	#bottom a {
		padding-top: 700px;
		background-color: #950046;
		color: #eee;
		font-size: 30px;
		padding: 15px;
		margin-right: 20px;
		border-radius: 4px;
    	-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;
    	border-bottom: rgba(0,0,0,0.1) 5px solid;
	}
	#bottom a:hover {
		background-color: #c8005e;
	}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/* Phone Styles */
	#top {
		height: 900px;
	}
		#about-us {
			width: 90%;
			font-size: 19px;
		}
		#about-us #buttons a {
			width: 120px;
		}
	.sponsors {
		padding-top: 50px;
	}
		.sponsors img {
			display: inline-block;
			height: auto;
			max-width: 280px;
			margin: 0 auto;
		}
}

/* *************** */
/* About Page */

#hero-about {
	padding-top: 110px;
	width: 100%;
	background: url("/img/CEID.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 460px;
}
	.blast {
		background-color: #0d0d0d;
		text-align: center;	
		font-size: 20px;
		line-height: 1.4em;
		padding: 5px 10px;
	}
	#final {
		font-size: 30px;
	}

body#about {
	background-color: #fff;
}

#info {
	padding-top: 80px;
	padding-bottom: 80px;
	color: #0d0d0d;
	background-color: #fff;
}
	#info h1 {
		font-size: 30px;
		font-weight: bold;
	}
	#info a:hover {
		color: #000;
	}

#about-actions {
	text-align: center;
	padding-top: 50px;
}
	a#about-signup {
		margin: 0 auto;
		text-align: center;
		background-color: #950046;
		color: #eee;
		font-size: 30px;
		padding: 15px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-bottom: rgba(0,0,0,0.1) 5px solid;
	}
	a#about-signup:hover {
		color: #eee;
		background-color: #c8005e;
	}

/* ************** */
/* Register Page */

#register {
	padding-top: 140px;
	padding-bottom: 120px;
	background-color: #0F4D92;
}

#terminal {
	display: block;
	margin: 0 auto;
	width: 700px;
	-mox-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-top: 45px solid #bcbcbc;
	border-bottom: 10px solid #bcbcbc;
	border-left: 10px solid #bcbcbc;
	border-right: 10px solid #bcbcbc;
	padding: 20px;
	background-color: #282828;
}
