body {
  margin: 0;
}

.splash-image {
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.splash-logo {
	position: relative;
	margin: 0 auto;
	text-align: center;
	top: 15%;
}

body h1 {
	color: white;
	font-size: 4.5em;
}

.splash-logo h2 {
	color: white;
}


.line {
  margin: 0 auto;
  text-align: center;
}

.splash-content {
  position: relative;
  top: 20%;
  width: 500px;
  margin: 0 auto;
}

input {
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 90%;
  border: none;
  outline: none;
}

button {
  margin: 0 auto;
  cursor: pointer;
  color: #ffffff;
  font-size: 30px;
  padding: 20px 40px;
  width: 90%;
  border: none;
  outline: none;
}
