body {
  margin: 0;
}

.splash-image {
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-top: 80px;
  padding-bottom:90px;
}

.splash-logo {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.splash-logo span {
	color: #FF9100;
}

.splash-social {
	padding-top: 40px;
	position: relative;
	margin: 0 auto;
	text-align: center;
}

h1 {
	color: white;
	font-size: 4.5em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 30px 0 10px;
  letter-spacing:12px
}


h2 {
  font-size: 1.5em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: white;
  margin: 10px 0 10px 0;
}

.line {
  margin: 0 auto;
  text-align: center;
}

.splash-content {
  width: 500px;
  margin: 40px auto 0 auto;
  text-align: center;
}

input {
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 90%;
  border: none;
  outline: none;
  background-color: rgba(256, 256, 256, .2);
  color: #FF9100;
  color: rgba(256, 256, 256, .6);
  text-transform: uppercase;
}


[type="search"] {
  -moz-appearance:    textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

*::-webkit-input-placeholder {
  color: rgba(256, 256, 256, .6);
}
*:-moz-placeholder {
  opacity:  .6;
}
*::-moz-placeholder {
  color:    rgba(256, 256, 256, .6);
  opacity:  .6;
}
*:-ms-input-placeholder {
  color:    rgba(256, 256, 256, .6);
}

button {
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
  width: 90%;
  background-color: rgba(255,145,0, .3);
  border: none;
  outline: none;
  text-transform: uppercase;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

button:hover {
  color: #FF9100;
}
